<form method="POST"action="/landmarks">
  <p>Name:<input type="text"name="Landmark Name"id="landmark_name"></p>
  <p>Year Completed:<input type="text"name="Landmark Date"id="landmark_year_completed"></p>
  <input type="submit"value="Create New Landmark">
</form>
